/** 
  * Standard css for hackadelic toc plugin for wordpress
  */

div.toc {
  border: 1px solid #ccc;
  font-size: .75em;
  margin-bottom: 1.5em;
}
div.toc.toc-left {
  max-width: 22em;
  float: left;
  margin: 5px 5px 5px 0;
}
div.toc.toc-right {
  max-width: 22em;
  float: right;
  margin: 5px 0 5px 5px;
}

div.toc a.toc-header {
  display: block;
  background-color: #f8f8ec;
  border-top: 1px solid #fcfcfc;
  border-left: 1px solid #fcfcfc;
  border-bottom: 1px solid #f0f0e0;
  border-right: 1px solid #f0f0e0;
  color: #777;
/** Styling regarding TOC title: **/
  padding: 1px 2px;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
}

div.toc a.toc-header:hover {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #fcfcfc;
  border-right: 1px solid #fcfcfc;
}

div.toc ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  background-color: #fcfcfc;
  overflow: hidden;
  white-space: nowrap;
}

/* make sure we do not get overriden */
#content div.toc ul {
  margin: 0;
}

div.toc.auto-collapse ul {
  display: none;
}

div.toc li a {
  text-decoration: none;
  border: 0 none;
  color: #777;
}
div.toc li.toc-level-1 {
  font-weight: bold;
}
div.toc li.toc-level-2 {
  font-weight: bold;
  padding-left: 1em;
}
div.toc li.toc-level-3 {
  padding-left: 2em;
}
div.toc li.toc-level-4 {
  padding-left: 3em;
}

/* hack to hide seo credit link - no way to turn it off in plugin! */
div.toc div {
  display: none;
}

