/***********************************************************

* A simple typography setup with header and footer support
* HTML5 based and requires either e.g. html5shim or modernizr. E.g. in <head> have:

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 

* For full effect requires these open fonts:

<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' type='text/css'> 
<link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' type='text/css'> 

Creator: Aron Carroll and Nick Stenning.
Copyright: Open Knowledge Foundation 2011
License: MIT/BSD

  **********************************************************/

html {
	font: 62.5%/1 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

body {
	width: 780px;
	padding: 0 10px;
	margin: 0 auto;
}

img {
	display: block;
	border: 5px solid #333;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	font-size: 1em /* 10px */;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arvo-Bold;
	font-weight: normal;
}

h1 {
	font-size: 3.2em;
	margin-bottom: 0.0.625em /* 20px */;
}

h2 {
	font-size: 2.4em;
	margin-bottom: 0.833em /* 20px */;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 1.111em /* 20px */;
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid;
	-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
	-o-transition: color 0.15s ease-out;
	transition: color 0.15s ease-out;
}

a:hover,
a:focus {
	color: #3665fa;
}

a:active {
	color: #f50998;
}

a.img {
  border: none;
}

pre {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	padding: 0.5em;
	overflow-x: auto;
}

pre::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

pre::-webkit-scrollbar-track-piece {
	margin: 0px;
	background-color: #e5e5e5;
	-webkit-border-radius: 4px;
}

pre::-webkit-scrollbar-thumb:vertical {
	height: 25px;
	background-color: #ccc;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

pre::-webkit-scrollbar-thumb:horizontal {
	width: 25px;
	background-color: #ccc;
	-webkit-border-radius: 4px;
}

code {
	font-family: Inconsolata;
	line-height: 1;
	white-space: pre;
	color: #000;
}

/**************************************
  * Header
  *************************************/

header, nav, section, article, footer {
	display: block;
}

header, section {
	margin: 2em 0 3em;
}

header {
	padding-bottom: 0.5em;
}

header::after {
	display: block;
	height: 0;
	visibility: 0;
	content: "";
	clear: both;
}

header h1 {
	position: relative;
	float: left;
	font-size: 6.4em;
}

header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
	color: #333;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

header h1 a {
	border-bottom: none;
}

/**************************************
  * Header / Nav
  *************************************/

header nav {
	padding-top: 4em;
	float: right;
}

header nav ul,
header nav ul li {
	padding: 0;
	margin: 0;
	display: block;
	list-style-type: none;
}

header nav ul li {
	padding: 0;
	font-size: 1.8em;
	display: inline-block;
}

header nav ul li a {
	font-weight: bold;
	display: inline-block;
	padding-bottom: 3px;
	border-bottom: none;
}

header nav ul li a:hover,
header nav ul li a.current {
	border-bottom: 2px solid;
}

header nav ul li::after {
	display: inline-block;
	padding: 0 0.5em;
	content: "/";
}

header nav ul li:last-of-type::after {
	display: none;
}

/**************************************
  * Main Content
  *************************************/

section  {
	overflow: hidden;
	clear: left;
}

article,
article p,
article ul,
article ol,
article pre,
article dl {
	font-size: 1.6em /* 16px */;
	line-height: 1.25em /* 20px */;
	margin-bottom: 1em;
}

article ul,
article ol {
	padding-left: 20px;
	line-height: 1.5em /* 24px */;
}

article ul {
	list-style-type: square;
}

/**************************************
  * Footer
  *************************************/

footer {
	font-size: 1.4em;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	padding: 1em 0.5em;
  margin-top: 2em;
	margin-bottom: 3em;
  line-height: 1.4;
  clear: both;
}

footer,
footer a {
	-webkit-transition: color 0.05s ease-in;
	-moz-transition: color 0.05s ease-in;
	-o-transition: color 0.05s ease-in;
	transition: color 0.05s ease-in;
	color: rgba(0, 0, 0, 0.4);
}

footer:hover,
footer:hover a {
	color: rgba(0, 0, 0, 0.8);
}

footer:hover {
	color: rgba(0, 0, 0, 0.8);
}

footer ul.xoxo, footer p {
  margin-bottom: 1.2em;
}

footer .widget-area ul {
  padding-left: 0;
}

footer .widget-area ul li {
  display: inline;
}

footer .widget-area ul li::after {
	display: inline-block;
	padding: 0 0.5em;
	content: "/";
}

footer .widget-area ul li:last-of-type::after {
	display: none;
}

footer .widget-area div,
footer .widget-area .text-widget ul {
  display: inline;
}

footer .widget-area h3 {
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}

/**************************************
  * Forms
  *************************************/

form {
	margin-bottom: 1.8em;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	padding: 0.5em;
}

form dl,
form dt, form dd {
	padding: 0;
	margin: 0;
}

form dt, form dd {
	margin-bottom: 0.3125em /* 5px */;
	line-height: 1;
}

form label {
	font-weight: bold;
	font-size: 0.777em;
	line-height: 20px;
}

form input {
	width: 360px;
	border: 1px solid #e6e6e6;
	font-size: 1em /* 16px */;
	padding: 0.3125em /* 5px */ 0.1875em /* 3px */;
	display: block;
}

