
#__banner {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  min-height: 22px;
  color: #333;
  padding-bottom: 4px;
  border-bottom: 1px solid #a7baab;
  text-shadow: 1px 1px 2px #eee;
  background-color: #cfe6d5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c0dbc6), to(#ceebd4)); 
  background-image: -webkit-linear-gradient(top, #c0dbc6, #ceebd4); 
  background-image:    -moz-linear-gradient(top, #c0dbc6, #ceebd4); 
  background-image:     -ms-linear-gradient(top, #c0dbc6, #ceebd4); 
  background-image:      -o-linear-gradient(top, #c0dbc6, #ceebd4); 
  background-image:         linear-gradient(top, #c0dbc6, #ceebd4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c0dbc6', EndColorStr='#ceebd4');

     -moz-box-shadow: 0px 0px 7px #ffffff; 
  -webkit-box-shadow: 0px 0px 7px #ffffff; 
          box-shadow: 0px 0px 7px #ffffff; 
  
}

#__banner a, #__banner a:hover, #__banner a:visited {
  text-decoration: none;
  color: #597b61;
}

#__banner a:hover {
  text-decoration: underline;
}

#__banner #__inner, #__banner, #__links {
  padding: 3px 1px 2px 20px;
}

#__banner #__inner a {
  font-weight: bold;
}

#__banner #__inner {
  background: url(http://assets.okfn.org/banner/logo.png) no-repeat;
  background-position: left bottom;
  margin: 0px 1em 0px 20px;
}

#__banner #__links {
  padding-right: 40px;
  float: right;
}
