.human-readable p.disclaimer {
    font-size: small;
}

.human-readable ul li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding-bottom:25px;
    padding-left:70px;
    padding-top:10px;
}

.human-readable li.share {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/share.png) no-repeat scroll 0 0;
}
.human-readable li.create {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/create.png) no-repeat scroll 0 0;
}
.human-readable li.open {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/keep_open.png) no-repeat scroll 0 0;
}
.human-readable li.attribute {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/attribute.png) no-repeat scroll 0 0;
}
.human-readable li.adapt {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/adapt.png) no-repeat scroll 0 0;
}
.human-readable li.alike {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/share_alike2.png) no-repeat scroll 0 0;
}

.human-readable li.intentionallyblank {
  background:transparent url(http://assets.okfn.org/p/opendatacommons/img/share_alike2.png) no-repeat scroll 0 0;
}

/* CSS for license intro boxes */

div.introbox {
  /* background-color:#F2F2F2;
  border:2px solid #D2D2D2;*/
  font-size:1.2em;
  margin:1em 2em 2em;
  padding:1em;
}

div.introbox h3 {
  font-size: 1.2em;
}

