body {
	font-family: Georgia, "Hoefler Text", Times, "Times New Roman", Serif;
	color: #222;
	font-size: 1em;
	line-height: 1.6;
}

a {
	color: #d72b27;
	font-size: 1em;
	text-decoration: none;
}
    
a:link {
	color: #d72b27;
}

a:visited {
	color:#981e1c;
}

a:hover {
	color: #d72b27;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	display: block;
	font-weight: bold;
	margin: 0.7em 0;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	color: #d72b27;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
}

dt {
	font-weight: bold;
	font-size: 1.1em;
}

code, pre, samp, kbd {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 1em;
	background: inherit;
	color: #333;
}

q {
  quotes: '"' '"' "'" "'";
  font-style: italic;
}

q code, q samp, q kbd {
	font-style: normal;
}

table, table td, table th {
	background-color: white;
	border: solid gray 1px;
	border-collapse: collapse;
	padding: 2px;
	font-size: 0.9em;
}

td {
	vertical-align: top;
}

blockquote {
	background: #eee;
	margin: 0 4em;
	padding: 3px 5px 3px 10px;
	border-left: 2px dotted #d72b27;
	border-right: 2px dotted #d72b27;
}

sup {
	font-size: 0.9em;
}
